.flag{
	padding-right: 24px;
}
#commencer{
	width: 200px;
	margin-left: 60px;
	margin-top: 50px;
}
.titlemain{
	font-size: 2em;
	margin: 30px;
	width: 300px;
	text-align: center;
}

[data-role="page"] {
   background-image: url('images/t.png'); background-repeat: no-repeat
}

#mainnav {
	margin-left: -20px;
	margin-top: -10px;
}

.disabled{
	pointer-events: none;
	cursor: default;
	background: gray !important;
}

.enabled{
	pointer-events: auto;
	background: #333 !important;
}
